jobs:
- job: 'Test'
  pool:
    vmImage: 'ubuntu-16.04'
  strategy:
    matrix:
      Python38:
        python.version: '3.8'
      Python37:
        python.version: '3.7'
      Python36:
        python.version: '3.6'
    maxParallel: 4

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'

  - script: ./ci.sh tox-3.x docker-4.x
    displayName: 'Tox 3.x, Docker 4.x'

  - script: ./ci.sh tox-3.x docker-3.x
    displayName: 'Tox 3.x, Docker 3.x'

  - script: ./ci.sh tox-2.x docker-3.x
    displayName: 'Tox 2.x, Docker 3.x'

  - script: ./ci.sh tox-2.x docker-4.x
    displayName: 'Tox 2.x, Docker 4.x'
